@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

html {
  font-size: 62.5%;
  height: 100%;
  
}

body {
  font-family: 'Poppins', sans-serif !important;
  min-height: 100%;
  background-color: #0E0E10;
  color: white;
}

p {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button, .or{
  color: white;
}

input {
  color: black;
}

select {
  color: black;
}

.btn-leave {
  background-color: red !important;
}

.btn-leave:hover {
  background-color: rgb(252, 44, 44) !important;
}

.textbox::-webkit-scrollbar { width: 0 !important }

input[type=file]::file-selector-button {
  padding: 0.75rem 1rem;
  background-color: #5765F2;
  border: none;
  color:white;
}